### IDEs ###
.metadata/                          # Eclipse workspace metadata
/.idea/                              # IntelliJ IDEA
.vscode/                             # VS Code
*.iml                                # IntelliJ project files

# Eclipse plugin/cache logs (optional but cleaner)
.metadata/.plugins/org.eclipse.swt/EBWebView/
.metadata/.plugins/org.eclipse.m2e.logback/
.metadata/.plugins/org.eclipse.core.runtime/
.metadata/.plugins/
.metadata/.mylyn/
**.log  
.metadata
### Java / Spring Boot ###
/target/                             # Maven build output
/bin/                                # Compiled binaries
*.log                                # Logs
*.tmp                                # Temp files

### Node / Vue ###
node_modules/
dist/
*.local

### System files ###
.DS_Store
Thumbs.db

